div {
  border: 1px solid white;
  text-align: center;
  font-family: Verdana;
  color: white;
}

img {
  width: 500px;
  
}

#menu {
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.button {
  padding: .5% 0 .5% 0;
  width: 18.5%;
  margin: 0 1% 0 0;
  float: left;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

#name {
  padding: 4% 0 4% 0;
  margin-top: 50px;
  font-family: 'Bangers', sans-serif;
  font-size: 7em;
  color: #63D1F4;
  /border: 10px solid #63D1F4;
}

#aboutme {
  
  background-color: #63D1F4;
}

#download {
  font-size: 1.5em;
}

#coursework {
  background-color: #0099cc;
  padding-bottom: 20px;
}

table, tr, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 3px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}

#skills {
  background-color: #00AFC4;
}

#skills ul {
  padding-left: 30%;
  padding-right: 23%;
  text-align: left;
}

#faq {
  background-color: #29A9CE;
}

#faq ol {
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
  
}

#contact {
  background-color: #0099cc;
  padding-bottom: 20px;
}

span {
  font-weight: bold;
}

.header {
  text-align: center;
}

.logo {
  border: none;
  
  display: inline;
  padding: 10px 20px 10px 20px;
}

.logo img {
  width: 30px;
  height: 30px;
}

a {
  text-decoration: none;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}

a:hover {
  text-decoration: none;
  color: black;
}
